*{
    font-family: Lucida, serif;
}
body{
    background-image: url("../assets/images/backgrounds/forest.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    align-content: center;
}

h1{
    border-radius: 10px;
    width: 10em;
    height: 2em;
    background-image: url("../assets/images/backgrounds/parchment.png");
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#resources{
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    flex-direction: row;
    justify-content: space-around;

    height: 50px;
    width: 60%;
    background-image: url("../assets/images/backgrounds/parchment.png");
    margin: 0 auto;

    overflow: hidden;
 
}

#resources * img{
    height: auto;
    min-height: 30px;
    width: 40px;
    margin: 5px 5px;

}
#resources div{
    display: flex;
    align-content: start;
    align-items: center;
}

.arrow-button{
    background-color: transparent;
    width: 40px;
    color: black;
    border: none;
    border-radius: 50%;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
}


#Buildings{
    border-radius: 10px;
    width: 60%;
    height: 45%;
    background-image: url("../assets/images/backgrounds/parchment.png");
    margin: 10px auto;
    overflow-y: auto;
    
}

#Buildings .population{
    position: fixed;
    right: 22%;
}

#completed{
    display: grid;
    justify-content: left;
    align-content: start;
}

.building, .input, .output{
    padding: 0 20px;
}
.input img, .output img{
    height: auto;
    min-height: 30px;
    width: 40px;
    margin: 5px 5px;
}
#completed section, #completed section div{
    display: flex;
    align-items: center;
}
.building img, .underConstruction img{
    width: 80px;
    height: auto;
}

.count, .worker{
    align-self: start;
}
.worker img{
    height: auto;
    width: 1em;
}
.worker span{
    font-size: 25px;
}
.plus-button, .minus-button{
    background-color: transparent;
    color: black;
    border: none;
    font-size:20px;
    cursor: pointer;
}
.plus-button:hover, .minus-button:hover{
    border-radius: 4px;  
    font-weight: bold;
    font-size: 25px;
}

.underConstruction div {
    display: flex;
    align-items: center;

}

.underConstruction {
    width: 60%;
}


.buildingCompletion{
    height: 100%;
    width: 100%;
    background-color: #8b5e3c;
}


#progress{
    border-radius: 10px;
    background-image: url("../assets/images/backgrounds/parchment.png");
    width: 60%;
    margin: 0 auto;
}
#progress p{
    min-width: 5em;
}
.progress-container{
    display:flex;
    justify-content: center;
    margin: 10px auto;
    height: 25px;
    width: 80%;
    align-items: center;
    gap: 10px;
}
.progress-bar {
    width: 100%;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto;
}
.Happiness-fill{
    height: 100%;
    width: 0%;
    background-color: rgb(225,225,75);
}
.Military-fill{
    height: 100%;
    width: 0%;
    background-color: red;
}
.Culture-fill{
    height: 100%;
    width: 0%;
    background-color: blue;
}
.Population-fill{
    height: 100%;
    width: 0%;
    background-color: green;
}

#actions{
    height: 2em;
    width: 60%;
    margin: 0 auto;
}

#actions .button-container{
    height: 100%;
    gap: 10px;
    display: flex;
    justify-content: center;
}

#actions button{
    background-image: url("../assets/images/backgrounds/parchment.png");
    min-width: 10em;
    border-radius: 10px;
}

#build{
  position: absolute;
  top: 20%;
  left: 5%;
  width: 14%;
  height: 65%;
  background-image: url("../assets/images/backgrounds/parchment.png");
  border-radius: 10px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
#build img{
    width: 120px;
    height: auto;

}
#build img:hover{
    width: 140px;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 2em;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb{
  background: #8b5e3c;
  border-radius: 100vw;
  border: 2px solid #e0d6c3;
}

